.common-rule {
  list-style: upper-roman;
  font-size: 20px;
}

.last-rule {
  color: green;
}

.first-rule {
  color: red;
}

.par {
  color: aquamarine;
}

.new-par {
  color: blueviolet;
}

.one {
  margin-bottom: 50px;
  outline: 2px solid;
  padding-bottom: 30px;
}

.two {
  margin-top: 60px;
  outline: 2px solid;
  padding-top: 30px;
}